################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/clients/python/__pycache__
/.vs
/.vscode
/node_modules
